{{define "post-list"}}
  <ul class="post-box">
    {{range $index, $elem := .Articles}}
      <li class="post-label">
        <a href="/p/{{$elem.ID}}.html"><h2>{{$elem.Title}}</h2></a>
{{/*        <p>{{$elem.Content}}</p>*/}}
        <div class="post-action">
          <span>
        <i class="iconfont icon-wenjianjia"></i>
        &nbsp;<a href="/c/{{$elem.Cid}}">{{$elem.Name}}</a>
      </span>
          <span>
        <i class="iconfont icon-riqi"></i>
        &nbsp;{{date1 $elem.CreatedAt}}
      </span>
        </div>
      </li>
    {{end}}
  </ul>
{{end}}